.header {
  background-color: ##fbfbfb;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: #3f444a;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  color: black;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}

.card-body,
.nav-item,
.Hisyam {
  transition: transform 0.6s;
}

.card-body:hover,
.nav-item:hover,
.Hisyam:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
